
#code {
    font-family: Consolas, monospace;
}

#enrichment, #cron {
    display: none;
}

#region, #advcron {
    display: block;
}

li:hover {
    text-decoration: line-through;
}

li {
    display: inline;
    padding: 0 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

pre {
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
    overflow: auto;
    background: darkgray;
    outline: 3px solid black;
}


.grid-container {
    display: grid;
    grid-template-columns: auto 30% 40% auto ;
    padding: 10px;
    width: 100%;
}
.grid-item {
    padding: 20px;
}