.form-center {
    display: flex;
    justify-content: center;
}

#code {
    font-family: Consolas, monospace;
}

#enrichment, #cron {
    display: none;
}

#region, #advcron {
    display: block;
}

li:hover {
    text-decoration: line-through;
}

li {
    display: inline;
    padding: 0 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}